# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/

# Data
*.csv
!data/*.csv

# Include only RandomForest model
!models/best_rf.joblib

# Exclude MLflow artifacts since we're using local models
mlruns/

# Docker
.docker/